@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'sf';
    src: url(../fonts/SFProDisplay-Regular.woff2);
    font-weight: 400;
}